.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0em 0.3em;
    margin-top: 20px;
}
.footer-sm-icons{
    width: 100%;
    font-size:large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}
.footer-sm-icons svg{
    margin: 10px;
    cursor: pointer;
    padding: 0px 0.2em;
}
.iconYoutube:hover{
  color: red;
}
.iconLinkedin:hover{
    color: steelblue;
}
.iconGithub:hover{
    color: #ed34d2;
}
.iconDev:hover{
      color: #14ff;
}
.iconAnim{
    animation: smIconAnim 10s linear infinite;
}
.iconLinkedin{
    animation-delay: 1s;
}
.iconGithub{
    animation-delay: 2s;
}
.iconDev{
    animation-delay: 3s;
}
@keyframes smIconAnim {
    from {box-shadow: 5px 5px 10px rgb(248, 179, 3),
         -5px -5px 10px rgb(0, 103, 221);}
    to {box-shadow: 40px 40px 40px rgb(249, 246, 246),
        -40px -40px 40px rgb(232, 232, 226);}
}
