html,
body {
  background-image: url('/images/techstack/backr3.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
main{
  padding:0em 0.3em;
}
a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  color: var(--text1);

  --brand-hue: 220;
  --brand-saturation: 38%;
  --brand-lightness: 9%;
  
  /* light */
  --brand-light: hsl(var(--brand-hue), var(--brand-saturation), var(--brand-lightness));
  --text1-light: hsl(var(--brand-hue), var(--brand-saturation), 10%);
  --text2-light: hsl(var(--brand-hue), 88%, 90%);
  --text3-light: hsl(var(--brand-hue), 18%, 9%);
  --text-footer-light: hsl(var(--brand-hue), 18%, 9%);
  --surface1-light: hsl(var(--brand-hue) 99% 92%);
  --footer-light: hsl(var(--brand-hue) 99% 12%);
  --surface2-light: hsl(var(--brand-hue) 20% 70%);
    
  /* dark */
  --brand-dark: hsl(
    var(--brand-hue)
    calc(var(--brand-saturation) / 2)
    calc(var(--brand-lightness) / 1.5)
  );
  --text1-dark: hsl(var(--brand-hue) 15% 10%);
  --text2-dark: hsl(var(--brand-hue) 90% 80%);
  --text3-dark: hsl(var(--brand-hue) 18% 3%);
  --text-footer-dark: hsl(var(--brand-hue) 83% 89%);
  --surface1-dark: hsl(var(--brand-hue) 98% 87%);
  --footer-dark: hsl(var(--brand-hue) 38% 7%);
  --surface2-dark: hsl(var(--brand-hue) 10% 80%);
   
   /* dim */
   --brand-dim: hsl(
    var(--brand-hue) 
    calc(var(--brand-saturation) / 1.25)
    calc(var(--brand-lightness) / 1.25)
  );
  --text1-dim: hsl(var(--brand-hue) 15% 75%);
  --text2-dim: hsl(var(--brand-hue) 10% 61%);
  --surface1-dim: hsl(var(--brand-hue) 10% 20%);
  --surface2-dim: hsl(var(--brand-hue) 10% 25%);
}
:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text3: var(--text3-light);
  --text-footer: var(--text-footer-light);
  --surface1: var(--surface1-light);
  --footer: var(--footer-light);
  --surface2: var(--surface2-light);
}

/*queries*/
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --text3: var(--text3-dark);
    --text-footer: var(--text-footer-dark);
    --surface1: var(--surface1-dark);
    --footer: var(--footer-dark);
    --surface2: var(--surface2-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
}

[color-scheme="dark"] {
  color-scheme: dark;
  
  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --brand: var(--brand-dim);
  --text1: var(--text1-dim);
  --text2: var(--text2-dim);
  --surface1: var(--surface1-dim);
  --surface2: var(--surface2-dim);
  --surface3: var(--surface3-dim);
  --surface4: var(--surface4-dim);
  }