.header-container{
    font-family: 'Indie Flower', cursive;
    color: white;
    padding: 0px;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    white-space: pre;
    animation: headerAnim 18s infinite alternate;
    text-shadow: -7px 2px 13px rgb(224, 249, 63),
    -7px 2px 13px rgb(253, 152, 11);
}
@keyframes headerAnim {
    from {
        transform: translateX(-100%);
       }
     
       to {
         transform: translateX(100%);
       }
}
  