.header-container{
    font-family: 'Codystar', sans-serif;
    color: white;
    padding: 0px;
    text-align: center;
    height: 200px;
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    white-space: pre;
    animation: headerAnim 18s infinite alternate;
    }
@keyframes headerAnim {
    from {
        transform: translateX(-100%) skew(200deg,10deg);
       }
     
       to {
         transform: translateX(100%);
       }
}
  