@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap');

.menu-li{
    list-style: none;
  }
  .nav-background {
    font-family: 'Indie Flower', cursive;      background: var(--brand);
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 10000;
    }
    .navbar-container {
      padding:0em 0.3em;
      display: flex;
      flex-direction: column;
    }
    .nav-links-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: fixed;
      right: -100%;
      top: 30px;
      gap: 0;
      padding-inline-start: 0px;
      text-align: center;
      transition: 0.3s;
  
    }
    .logo-close-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .logo-close-container img{
      cursor: pointer;
    }
    .logo-close-container a{
     display: flex;
     align-items: center;
    }
    /* hamburger menu */
    .icon {
      display: block;
    }
    .menu-container{
      width: 35px;
      height: 30px;
      margin: 10px 10px;
      position: relative;
      cursor: pointer;
      display: inline-block;
    }
    .menu-container span{
      background-color:#FFF;
      position: absolute;
      border-radius: 2px;
      transition: .3s cubic-bezier(.8, .5, .2, 1.4);
      width:100%;
      height: 4px;
    }
    .menu-container span:nth-child(1){
      top:0px;
      left: 0px;
    }
    .menu-container span:nth-child(2){
      top:13px;
      left: 0px;
    }
    .menu-container span:nth-child(3){
      bottom:0px;
      left: 0px;
    }
    .menu-container:not(.active):hover span:nth-child(1){
      transform: scaleX(.8);
    }
    .menu-container:not(.active):hover span:nth-child(2){
      transform: scaleX(.5);
    }
    .menu-container:not(.active):hover span:nth-child(3){
      transform: scaleX(.8);
    }
    .menu-container.active span:nth-child(1){
      top: 13px;
    }
    .menu-container.active span:nth-child(2){
      top:13px;
    }
    .menu-container.active span:nth-child(3){
      top: 13px;
    }
  
    /* end of hamburger menu */
    
    .hideMenu {
      right: 0;
    }
   .menu-link {
      width: 100%;
      display: inline-block;
      background: var(--brand);
      color: var(--text2);
      padding: 16px 0px;
      font-size: 16px;
      cursor: pointer;
      border-style: none;
    }
    .menu-link:hover {
      color: var(--text3);
      background: var(--surface1);
    }
    
    .menu-li {
      position: relative;
      display: inline-block;
    }
    .menu-link{
      font-family: 'Indie Flower', cursive;
    }
    
    .menu-li-content {
      display: none;
    }
    @media screen and (min-width: 600px) {
      .icon {
        display: none;
      }
      
      .navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .nav-links-container {
        right: 0%;
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-block-start: 0px;
        margin-block-end: 0px;
      }
      .menu-li {
        text-align: center;
        position: relative;
        display: inline-block;
      }
      .menu-link {
        width: auto;
        padding: 16px 10px;
        color: var(--text2);
        background-image: none;
        background-color: var(--brand);
      }
      
      .nav-background {
        background-color: var(--brand);
      }
    }
    
    @media screen and (min-width: 768px) {
      .navbar-container {
        margin: 0px 1.5rem;
      }
    }
    