.card {
    border-radius: 200px;
    background-color: transparent;  
    opacity: 0;
    margin:  1em 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text-card {
  font-family: 'Indie Flower', cursive;
  color: var(--brand);
  margin: 0px 0.5em 0.7em;
  display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
.text-card h2{
  text-align: center;
  background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    red);
            -webkit-background-clip: text;
            color: transparent;

}
.photoContainer{
  width: 100%;
}
.photoCard {
    width: auto;
    height: 300px;
    margin: 0em;
    position: relative;
}
.photoCard img{
  border-radius: 500px;
}
.leftAnim{
  opacity: 1;
  transform: translateX(-100%);
  animation-name: slideLeft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes slideLeft{
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
.rightAnim{
  opacity: 1;
  transform: translateX(100%);
  animation-name: slideRight;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes slideRight{
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
/*media queries*/
@media (min-width: 600px) {
  .card{
    height: 300px;
    margin-bottom: 3em;
  }
  .leftPhoto.card{
    flex-direction: row;
  }
  .rightPhoto.card{
    flex-direction: row-reverse;
  }
  .photoCard{
    height: 330px;
  }
  .photoContainer{
    flex: 1;
  }
  .text-card{
    flex: 1;
  }
}
@media (min-width: 1000px) {
  .card{
   width: 50%;
   margin: 1em auto 3em auto;
  }
}
